.footer {
  clear: left;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #666666;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-top: solid 8px #4aaaa5;
}

.footer-content{
  padding-top: 35px;
  color: #fff;
}

@media screen and (max-width: 980px) {
  .footer {
    height: 40px;
  }

  .footer-content {
    padding: 0;
    margin-top: 0.6em;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    height: 40px;
  }

  .footer-content {
    margin-top: 0.8em;
    font-size: 13px;
  }
}

@media screen and (max-width: 640px) {
  .footer {
    width: 100%;
    position: unset;
    margin-right: auto;
    margin-left: auto;
    height: 30px;
  }
  .footer-content {
    margin-top: .5em;
  }
}