* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #4aaaa5;
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  background: url('../Images/textured_paper.png')
}

img {
  float: left;
  width: 200px;
  height: 200px;
  margin-top: 1em;
  margin-left: 2em;
}

.content {
  background-color: #fff;
  width: 960px;
  height: 600px;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  border: solid 2px #dddddd;
  margin-bottom: 10em;
}

.content-header {
  font-size: 38px;
  color: #4aaaa5;
  margin-left: 1em;
  padding-top: 1em; 
}

.divider {
  height: 2px;
  color: red;
  border: none;
  background-color: #4aaaa5;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

.content-paragraph-right {
  float: left;
  width: 65%;
  line-height: 1.6;
  font-size: 20px;
  margin-top: 1em;
  margin-left: 1em;
}

.content-paragraph-left {
  clear: left;
  float: left;
  width: 90%;
  line-height: 1.6;
  font-size: 20px;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

@media screen and (max-width: 980px) {
  .content {
    width: 80%;
  }

  .content-header {
    font-size: 32px;
  }

  .content-paragraph-left {
    font-size: 18px;
    line-height: 1.6;
  }

  .content-paragraph-right {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 2em;
  }
} 

@media screen and (max-width: 768px) {
  .content {
    width: 90%;
  }
  
  .content-header {
    font-size: 28px;
  }

  .content-paragraph-left {
    font-size: 16px;
    line-height: 1.6;
  }

  .content-paragraph-right {
    width: 60%;
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (max-width: 640px) {
  .content {
    width: 90%;
    height: 1050px;
  }

  img {
   height: 550px;
   width: 550px;
   margin-left: 1em;
  }

  .content-paragraph-right {
    clear: left;
    width: 90%;
    margin-left: 2em;
    line-height: 1.6
  }

  .content-paragraph-left {
    line-height: 1.6;
  }
}